.overlay {
  display: flex;
  background: rgb(233 236 239 / 30%);
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.overlay-2 {
  display: flex;
  background: rgb(233 236 239 / 30%);
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #fdbb2d #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #fdbb2d;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.lope p {
  text-align: justify;
}

.padding-xs {
  padding: 0.25em;
}
.padding-sm {
  padding: 0.5em;
}
.padding-md {
  padding: 1em;
}
.padding-lg {
  padding: 1.5em;
}
.padding-xl {
  padding: 3em;
}

.padding-x-xs {
  padding: 0.25em 0;
}
.padding-x-sm {
  padding: 0.5em 0;
}
.padding-x-md {
  padding: 1em 0;
}
.padding-x-lg {
  padding: 1.5em 0;
}
.padding-x-xl {
  padding: 3em 0;
}

.padding-y-xs {
  padding: 0 0.25em;
}
.padding-y-sm {
  padding: 0 0.5em;
}
.padding-y-md {
  padding: 0 1em;
}
.padding-y-lg {
  padding: 0 1.5em;
}
.padding-y-xl {
  padding: 0 3em;
}

.padding-top-xs {
  padding-top: 0.25em;
}
.padding-top-sm {
  padding-top: 1.5em;
}
.padding-top-md {
  padding-top: 1em;
}
.padding-top-lg {
  padding-top: 1.5em;
}
.padding-top-xl {
  padding-top: 3em;
}

.padding-right-xs {
  padding-right: 0.25em;
}
.padding-right-sm {
  padding-right: 0.5em;
}
.padding-right-md {
  padding-right: 1em;
}
.padding-right-lg {
  padding-right: 1.5em;
}
.padding-right-xl {
  padding-right: 3em;
}

.padding-bottom-xs {
  padding-bottom: 0.25em;
}
.padding-bottom-sm {
  padding-bottom: 0.5em;
}
.padding-bottom-md {
  padding-bottom: 1em;
}
.padding-bottom-lg {
  padding-bottom: 1.5em;
}
.padding-bottom-xl {
  padding-bottom: 3em;
}

.padding-left-xs {
  padding-left: 0.25em;
}
.padding-left-sm {
  padding-left: 0.5em;
}
.padding-left-md {
  padding-left: 1em;
}
.padding-left-lg {
  padding-left: 1.5em;
}
.padding-left-xl {
  padding-left: 3em;
}

.margin-xs {
  margin: 0.25em;
}
.margin-sm {
  margin: 0.5em;
}
.margin-md {
  margin: 1em;
}
.margin-lg {
  margin: 1.5em;
}
.margin-xl {
  margin: 3em;
}

.margin-x-xs {
  margin: 0.25em 0;
}
.margin-x-sm {
  margin: 0.5em 0;
}
.margin-x-md {
  margin: 1em 0;
}
.margin-x-lg {
  margin: 1.5em 0;
}
.margin-x-xl {
  margin: 3em 0;
}

.margin-y-xs {
  margin: 0 0.25em;
}
.margin-y-sm {
  margin: 0 0.5em;
}
.margin-y-md {
  margin: 0 1em;
}
.margin-y-lg {
  margin: 0 1.5em;
}
.margin-y-xl {
  margin: 0 3em;
}

.margin-top-xs {
  margin-top: 0.25em;
}
.margin-top-sm {
  margin-top: 0.5em;
}
.margin-top-md {
  margin-top: 1em;
}
.margin-top-lg {
  margin-top: 1.5em;
}
.margin-top-xl {
  margin-top: 3em;
}

.margin-right-xs {
  margin-right: 0.25em;
}
/* .margin-right-sm { margin-right: 2.5em; } */
.margin-right-md {
  margin-right: 1em;
}

  .margin-left-md {
    margin-left: 1em;
  }
  .margin-right-md {
    margin-right: 1em;
  }


.margin-right-lg {
  margin-right: 1.5em;
}
.margin-right-xl {
  margin-right: 3em;
}

.margin-bottom-xs {
  margin-bottom: 0.25em;
}
.margin-bottom-sm {
  margin-bottom: 0.5em;
}
.margin-bottom-md {
  margin-bottom: 1em;
}
.margin-bottom-lg {
  margin-bottom: 1.5em;
}
.margin-bottom-xl {
  margin-bottom: 3em;
}

.margin-left-xs {
  margin-left: 0.25em;
}
/* .margin-left-sm { margin-left: 2.5em; } */

.margin-left-lg {
  margin-left: 1.5em;
}
.margin-left-xl {
  margin-left: 3em;
}

.education .edu-col {
  position: relative;
  width: 100%;
  padding: 20px 0 20px 20px;
  border-left: 1px solid #fdbb2d;
  border-bottom: 1px solid #fdbb2d;
}

.education .col-md-6:first-child .edu-col {
  padding-top: 0;
}

.education .col-md-6:last-child .edu-col {
  border-bottom: none;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .education .col-md-6:nth-child(-n + 2) .edu-col {
    padding-top: 0;
  }

  .education .col-md-6:last-child .edu-col,
  .education .col-md-6:nth-last-child(2) .edu-col {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.education .edu-col span {
  position: relative;
  display: block;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.education .edu-col span::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  background: #fdbb2d;
  top: 5px;
  left: -26px;
  border-radius: 5px;
}

.education .edu-col span i {
  color: #000;
}

.education .edu-col p {
  margin: 0;
}

.css-typing h1 {
  border-right: 0.15em solid #fdbb2d;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing h1:nth-child(1) {
  width: 9.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(2) {
  width: 10em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(3) {
  width: 10em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(4) {
  width: 9.9em;
  opacity: 0;
  -webkit-animation: type3 2s steps(40, end),
    blink 0.2s step-end infinite alternate;
  animation: type3 2s steps(40, end), blink 0.2s step-end infinite alternate;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/*--------------------------------------------------------------
>>> Estilos
----------------------------------------------------------------*/
html {
  font-family: "Inter", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background: #22c1c3;
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
  background: linear-gradient(to right, #fdbb2d, #22c1c3);
  font-weight: 400;
  font-style: normal;
  color: #373737;
  font-size: 14px;
}
a,
a:hover,
a:focus,
i,
input,
button,
input:focus,
.transition {
  text-decoration: none;
  outline: none;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: ease;
  box-shadow: none;
}
a {
  color: #000;
}
iframe {
  border: 0;
  outline: none;
}
::-moz-selection {
  background: #000;
  text-shadow: none;
  color: #fff;
}
::selection {
  background: #000;
  text-shadow: none;
  color: #fff;
}
img {
  max-width: 100%;
  border: none;
  outline: none;
  height: auto;
}
input,
textarea {
  border-radius: 0;
  resize: none;
}
ul {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Inter", sans-serif;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent;
  background-image: none;
  color: #000;
}
/* 1.2 Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
figure {
  margin: 0;
}
svg,
img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

/*-----------------------------------------------------------------
  1. >>> Headr Style
----------------------------------------------------------------*/
.ds-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background: #22c1c3;
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
  background: linear-gradient(to right, #fdbb2d, #22c1c3);
  padding: 40px 0;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: ease;
  border-radius: 0rem 0rem 2rem 2rem;
}
.ds-header.ds-fixed-header {
  padding: 20px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.ds-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ds-logo {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  color: #000;
  display: flex;
  align-items: center;
}
.ds-logo span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-right: 12px;
}
.ds-logo:hover {
  color: #000;
}

.ds-social {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ds-social li {
  margin-left: 12px;
}
.ds-social li:first-child {
  margin-left: 0;
}
.ds-social li a {
  border-radius: 100%;
  color: #fff;
  width: 40px;
  height: 40px;
  background: rgb(233 236 239 / 30%);
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
}
.ds-social li a:hover {
  background-color: #000;
  color: #fff;
}
/*-----------------------------------------------------------------
  2. >>> Banner Style
----------------------------------------------------------------*/
.ds-banner section {
  padding-left: 70px;
  padding-right: 100px;
}
.ds-banner section h1 span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 30px;
}
.ds-banner section h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #000;
}
.ds-numbervalulist {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 60px;
}
.ds-numbervalulist li {
  margin-right: 60px;
}
.ds-numbervalulist li:last-child {
  margin-right: 0;
}
.ds-numbervalulist strong {
  display: block;
  color: #000000;
  font-size: 36px;
  font-weight: 800;
}
.ds-numbervalulist span {
  font-size: 16px;
  letter-spacing: 1px;
}
/*-----------------------------------------------------------------
  3. >>> About Style
----------------------------------------------------------------*/
.ds-about-section {
  padding-top: 60px;
  padding-bottom: 105px;
}
section.lope {
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 30px;
  margin-bottom: 40px;
}

.lope {
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 30px;
  margin-bottom: 40px;
}
.grid-margin {
  margin-bottom: 1.5rem;
}

.ds-heading {
  display: inline-block;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  border-bottom: 3px solid #fdbb2d;
  padding-bottom: 7px;
  margin-bottom: 23px;
}
.ds-about-section p {
  color: #373737;
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 60px;
}

.ds-button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 13px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #373737;
  padding: 17px 30px;
  border: 2px solid #fdbb2d;
  border-radius: 60px;
}
.ds-button:hover {
  background: linear-gradient(to right, #fdbb2d, #22c1c3);
  color: #fff;
}
.ds-arrow-button i {
  display: inline-block;
  vertical-align: middle;
}
/*-----------------------------------------------------------------
  4. >>> Skills Style
----------------------------------------------------------------*/
.ds-skills-section {
  padding-bottom: 105px;
}
.ds-skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 11px;
}
.ds-skills-list li {
  display: inline-block;
  color: #373737;
  font-size: 16px;
  padding: 10px 20px;
  background: #22c1c3;
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
  background: linear-gradient(
    to right,
    rgba(100, 100, 100, 0.2),
    rgb(0 0 0 / 20%)
  );
  border-radius: 27px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-weight: 500;
}

/*-----------------------------------------------------------------
  5. >>> Experience Style
----------------------------------------------------------------*/
.ds-experience-section {
  padding-bottom: 105px;
}
.ds-experience-list section {
  padding-right: 70px;
}
.ds-experience-list {
  padding-top: 15px;
}
.ds-officename {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}
.ds-experience-list span {
  display: block;
}
span.ds-year {
  color: #373737;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}
span.ds-department {
  color: #373737;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 30px;
}
.ds-experience-list p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.ds-experience-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}
/* .ds-experience-list ul li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  padding-left: 28px;
  position: relative;
  margin-bottom: 20px;
} */
.ds-experience-list ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  /* background-color: #373737; */
}
/*-----------------------------------------------------------------
  6. >>> Work Style
----------------------------------------------------------------*/
.ds-work-section {
  padding-bottom: 80px;
}
/* .ds-work-list {
  padding-left: 70px;
  padding-top: 40px;
  padding-right: 70px;
  background-color: #f6f8fa;
  margin-bottom: 40px;
} */
.ds-work-list section {
  padding-top: 20px;
  padding-right: 120px;
}
.ds-work-tilte {
  color: #000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.ds-work-list p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}
.ds-work-list .ds-button {
  margin-top: 20px;
}

.ds-work-det-hed {
  padding-top: 42px;
  padding-bottom: 80px;
}
.ds-work-det-title {
  font-weight: 600;
  color: #000;
  font-size: 48px;
  margin-bottom: 20px;
}
.ds-work-det-dep {
  display: block;
  font-weight: 600;
  color: #000;
  font-size: 18px;
}
.ds-work-content-sec {
  padding: 100px 0;
}
.ds-work-content-sec p {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 30px;
}
.ds-work-content-sec h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.ds-work-content-sec ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ds-work-content-sec li {
  font-size: 18px;
  line-height: 36px;
  padding-left: 28px;
  position: relative;
  margin-bottom: 20px;
}
.ds-work-content-sec li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background-color: #373737;
}
/*-----------------------------------------------------------------
  7. >>> Footer Style
----------------------------------------------------------------*/
.ds-footer {
  background-color: #000;
  padding: 120px 0;
}
.ds-footer section {
  padding-bottom: 97px;
}
.ds-footer section span {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: block;
  padding-bottom: 20px;
}
.ds-footer section h4 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.ds-footer section p {
  letter-spacing: 1.13px;
  color: #fff;
  font-size: 18px;
  margin-bottom: 40px;
}
.ds-copyright {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  font-size: 16px;
}
.ds-copyright a {
  color: rgba(255, 255, 255, 0.5);
}
.ds-copyright a:hover {
  color: #fdbb2d;
}

/*-------------------------------------------------------------------------------
 Responsive XS Style @media (max-width: 767px) 
-------------------------------------------------------------------------------*/

@media (max-width: 768px) {
  .ds-header,
  .ds-header.ds-fixed-header {
    padding: 15px 0;
  }
  .ds-banner,
  .ds-skills-section,
  .ds-experience-section,
  .ds-work-details-section {
    padding-left: 28px;
    padding-right: 28px;
  }

  .ds-about-section,
  .ds-experience-section,
  .ds-work-section {
    padding-left: 38px;
    padding-right: 38px;
  }

  .ds-logo {
    font-size: 0;
  }
  .ds-banner figure {
    padding: 30px 0;
  }
  .ds-banner section {
    padding-left: 0;
    padding-right: 0;
  }
  .ds-banner section h1 span {
    padding-bottom: 0;
  }
  .ds-banner section h1,
  .ds-work-det-title {
    font-size: 30px;
    line-height: 40px;
  }
  .ds-numbervalulist {
    margin-top: 20px;
  }
  .ds-numbervalulist li {
    margin-right: 30px;
  }
  .ds-numbervalulist strong {
    font-size: 30px;
  }
  .ds-numbervalulist span {
    font-size: 14px;
  }
  .ds-about-section {
    padding-bottom: 60px;
  }

  .ds-about-section p,
  .ds-work-content-sec p,
  .ds-work-content-sec li {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .ds-skills-list li {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .ds-skills-section .col-12,
  .ds-experience-list .col-12 {
    margin-bottom: 40px;
  }
  .ds-skills-section,
  .ds-work-section,
  .ds-experience-section {
    padding-bottom: 60;
  }
  .ds-experience-list section {
    padding-right: 0;
  }
  /* .ds-work-list {
    padding: 30px;
  } */
  .ds-work-list p {
    font-size: 15px;
    line-height: 30px;
  }
  .ds-footer {
    padding: 60px 10px;
  }
  .ds-footer section h4 {
    font-size: 40px;
  }
  .ds-copyright {
    font-size: 14px;
  }
  .ds-footer section {
    padding-bottom: 30px;
  }
  .ds-button {
    padding: 11px 10px;
  }
  .ds-work-details-section {
    padding-top: 30px;
  }
  .ds-work-det-title {
    margin-bottom: 7px;
  }
  .ds-work-content-sec h2 {
    font-size: 20px;
  }
  .ds-work-content-sec {
    padding: 30px 0;
  }
  .ds-work-list section {
    padding-right: 0;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* .ds-work-list section {
    padding-right: 30px;
  } */

  .margin-right-sm {
    margin-right: 2.5em;
  }

  .margin-left-sm {
    margin-left: 2.5em;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ds-banner section {
    padding-right: 0;
  }
  .ds-work-list section {
    padding-right: 30px;
    padding-bottom: 60px;
  }
  .margin-right-sm {
    margin-right: 2.5em;
  }

  .margin-left-sm {
    margin-left: 2.5em;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .margin-right-sm {
    margin-right: 2.5em;
  }

  .margin-left-sm {
    margin-left: 2.5em;
  }
}
@media (min-width: 1400px) and (max-width: 2560px) {
  .margin-right-sm {
    margin-right: 2.5em;
  }

  .margin-left-sm {
    margin-left: 2.5em;
  }
}

/* ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.mytabs_area {
  background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}
.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.tabs_inner .nav.nav-tabs {
  display: block;
  text-align: center;
  border: none;
  margin-bottom: 120px;
}
.tabs_inner .nav.nav-tabs li {
  display: inline-block;
  margin-right: 8px;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}
.tabs_inner .nav.nav-tabs li a.active {
  background: #fff;
  color: #222222;
}

.tabs_inner .nav.nav-tabs li a {
  margin: 0px;
  line-height: 50px;
  border-radius: 5px;
  padding: 0px 40px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border: 1px solid #9ab5f5;
  background: rgba(255, 255, 255, 0.1);
}
.tabs_inner .nav.nav-tabs li a {
  margin: 0px;
  line-height: 50px;
  border-radius: 5px;
  padding: 0px 40px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border: 1px solid #9ab5f5;
  background: rgba(255, 255, 255, 0.1);
}
.tabs_inner .tab-content .tab-pane .list {
  max-width: 460px;
  margin: auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
}
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.tabs_inner .tab-content .tab-pane .list:before {
  content: "";
  height: 100%;
  width: 5px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 46%;
  transform: translateX(-50%);
  top: -5px;
}
.tabs_inner .tab-content .tab-pane .list li {
  margin-bottom: 60px;
  position: relative;
}
.tabs_inner .tab-content .tab-pane .list li span {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 46%;
  top: 30px;
  transform: translateX(-50%);
}
.tabs_inner .tab-content .tab-pane .list li span:before {
  content: "";
  height: 7px;
  width: 7px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 52%;
  top: 4px;
  transform: translateX(-50%);
}
.tabs_inner .tab-content .tab-pane .list li .media .d-flex {
  padding-right: 100px;
}
.tabs_inner .tab-content .tab-pane .list li .media .d-flex p {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0px;
  padding-top: 20px;
}
.tabs_inner .tab-content .tab-pane .list li .media .media-body h4 {
  color: #fff;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.tabs_inner .tab-content .tab-pane .list li .media .media-body p {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0px;
}
.tabs_inner .tab-content .tab-pane .list li {
  margin-bottom: 60px;
  position: relative;
}
.tabs_inner .tab-content .tab-pane .list li:last-child {
  margin-bottom: 0px;
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.tab-content > .active {
  display: block;
}
.tab-content > .tab-pane {
  display: none;
}

/* Boton Cambio de Idiomas */
.switch {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 115px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #4cd964;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 25px;
}
.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 2px;
}
.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 2px;
}
input[type="radio"] {
  display: none;
}
.switch label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  width: 60px;
  line-height: 50px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
label[for="yes"] {
  position: absolute;
  left: 0px;
  height: 20px;
}
label[for="no"] {
  position: absolute;
  right: 0px;
}
#no:checked ~ .switch {
  background: #ff3b30;
}
#no:checked ~ .switch span {
  background: #fff;
  margin-left: -8px;
}
#no:checked ~ .switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}
#yes:checked ~ .switch label[for="yes"] {
  color: #fff;
}
#no:checked ~ .switch label[for="no"] {
  color: #fff;
}


/* 
//////////////////////////////////
//////     Animate CSS     ///////
//////////////////////////////////
*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble {
  from {
    transform: none;
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: none;
  }
}

.wobble {
  animation-name: wobble;
}

@keyframes jello {
  from, 11.1%, to {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  animation-name: jello;
  transform-origin: center;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  animation-name: bounceOut;
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  animation-name: bounceOutDown;
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  animation-name: bounceOutRight;
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.bounceOutUp {
  animation-name: bounceOutUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDownBig {
  animation-name: fadeInDownBig;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

@keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.flipOutY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}

@keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  animation-name: rotateIn;
}

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownRight {
  animation-name: rotateInDownRight;
}

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInUpRight {
  animation-name: rotateInUpRight;
}

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

.rotateOut {
  animation-name: rotateOut;
}

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}

.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  animation-name: hinge;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.jackInTheBox {
  animation-name: jackInTheBox;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.rollIn {
  animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  animation-name: rollOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInDown {
  animation-name: zoomInDown;
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInLeft {
  animation-name: zoomInLeft;
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInRight {
  animation-name: zoomInRight;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInUp {
  animation-name: zoomInUp;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutDown {
  animation-name: zoomOutDown;
}

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

.zoomOutLeft {
  animation-name: zoomOutLeft;
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

.zoomOutRight {
  animation-name: zoomOutRight;
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutUp {
  animation-name: zoomOutUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  animation-name: slideOutDown;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}
